# PyCharm
.idea/

# Python
.ipynb_checkpoints/
venv/
__pycache__/
.pytest_cache/

# Data
RI Hospital ELVO Data/
ELVOS/
data/*
!data/ABCDE\ SAMPLE
!data/DEFGH\ SAMPLE2
data-*/*
sandbox/*
*.npy
*.zip
tmp/

# Models (weights)
results/
models/
notebooks/tmp/*.hdf5

# Config
secrets/
credentials/

# Logs
logs/
*.log
nohup.out

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
