.idea/
.ipynb_checkpoints/
venv/
__pycache__/
.pytest_cache/

RI Hospital ELVO Data/
ELVOS/
logs/
tmp/
results/
*.npy

preprocessing.log
nohup.out
*.zip

secrets/
data/*
!data/ABCDE\ SAMPLE
!data/DEFGH\ SAMPLE2