# PyCharm
.idea/

# Python
.ipynb_checkpoints/
venv/
__pycache__/
.pytest_cache/

# Data
RI Hospital ELVO Data/
ELVOS/
data/*
!data/ABCDE\ SAMPLE
!data/DEFGH\ SAMPLE2
data-*/*
*.npy
*.zip
*.swp
tmp/
*.pkl
ELVO_Annotator_Key_Negatives.csv
ELVO_Annotator_Key_Positives.csv
metadata_negatives.csv
metadata_positives.csv
binary_vectors.csv
classification_vectors.csv
train_ids.csv
test_ids.csv
val_ids.csv

# Models (weights)
results/
models/
!ml/models
notebooks/tmp/*.hdf5
classifer_model_tuning.txt
ensembled_3d.hdf5

# Config
secrets/
credentials/

# Logs
logs/
*.log
nohup.out

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# JavaScript
node_modules/

# Sandbox
sandbox/
