body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.paper {
    padding: 10px;
    height: 50vh;
    position: relative;
}

.guide {
    position: absolute;
    width: 30vw;
    height: 50vh;
}

.sagittal {
    position: absolute;
    width: 35vw;
    height: 50vh;
    left: 30vw;
}

.input {
    position: absolute;
    width: 30vw;
    height: 50vh;
    top: 50vh;
}

.axial {
    position: absolute;
    width: 17.5vw;
    height: 50vh;
    left: 65vw;
}

.mip {
    position: absolute;
    width: 17.5vw;
    height: 50vh;
    left: 82.5vw;
}

.threedimensions {
    position: absolute;
    width: 35vw;
    height: 50vh;
    top: 50vh;
    left: 65vw;
}

.threedimensions.button {
    position: absolute;
    top: 10%;
    right: 10%;
}

.coronal {
    position: absolute;
    width: 35vw;
    height: 50vh;
    left: 30vw;
    top: 50vh;
}

.text {
    position: absolute !important;
    left: 50%;
    top: 20%;
}

.axialText {
    position: absolute !important;
    left: 10%;
    bottom: 5%;
}
